*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3e505a;
}

.container{
    position: relative;
    color: #fff;
    background: #36454F;
    width: 425px;
    padding: 20px 45px;
    box-shadow: 0 5px 25px rgba(14, 21, 37, 0.8);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.time{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: rgb(88, 240, 240);
}

.start, .stop, .reset{
    font-weight: 300;
    padding: 3px 30px;
    border-radius: 40px;
    border: none;
    box-shadow: 0 0px 20px rgba(222, 225, 231, 0.6);
}

